/* START setting up html and containers */
html {
    box-sizing: border-box;
    background-attachment: fixed;
}
*, *:before, *:after{
    box-sizing: inherit;
}

.container {
    color: #333333;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    width: 80%;
    margin: 0 auto; 
}

.headContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.miniContainer {
    display: grid;
    grid-template-columns: auto;

    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.sectionContainer {
    /* This is for larger screens */
    background-color: #8cff75;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    text-align: center;
    width: 80%;
    margin: 0 auto;
}
/* END setting up html and containers */

/* START optimization? */
@media (max-width: 1024px) {
    /* Medium Screens? */
    .sectionContainer {
      grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
}

@media (max-width: 600px) {
    /* Phone Screens? */
    .sectionContainer {
      grid-template-columns: repeat(1, 1fr); /* 1 column */
    }
}
/* END optimization? */

/* START top bar configs */
div.headContainer h1 {
    background-color: #ffe4c4;
    text-align: center;
}
.taglineThing {
    background-color: #fed7ff;
    text-align: center;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

div nav {
    background-color: #68d4ff;
}

nav p {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

div.textBar {
    text-align: center;
    background-color: bisque;
}
/* END top bar configs */

/* START font configs */
.storeName {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}
/* END font configs */