/* START setting up html and containers */
html {
    box-sizing: border-box;
    background-attachment: fixed;
    background: linear-gradient(to bottom, #adb5f8, #ffface, #adb5f8);
}
*, *:before, *:after{
    box-sizing: inherit;
}

.container {
    color: #333333;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    width: 80%;
    margin: 0 auto; 
}

.headContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.miniContainer {
    display: grid;
    grid-template-columns: auto;

    text-align: center;
    width: 80%;
    margin: 1em;
    border-radius: 10%;

    border-top: solid #ffffff;
    border-bottom: solid #0a1761;
}
.miniContainer p{
    border-radius: 20%;
    border-top: solid #ffffff;
    border-bottom: solid #0a1761;

    background-color: #b8d4df;
    padding-left: 0;
    padding-right: 0;
}

.sectionContainer {
    /* This is for larger screens */
    background-color: #0e5500;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 1%;
}


.itemListing {
    background: #94ff07;
    padding: 20px;
    margin: 10px;
    border: double;
}
/* END setting up html and containers */

/* START optimization? */
@media (max-width: 1024px) {
    /* Medium Screens? */
    .sectionContainer {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    /* Phone Screens? */
    .sectionContainer {
      grid-template-columns: repeat(1, 1fr);
    }

    .headContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

.imageResponsive {
    width: 100%;
    height: auto;
  }
/* END optimization? */

/* START top bar configs */
div.headContainer h1 {
    background-color: #8a9ef5;
    text-align: center;

    border-radius: 5%;
    border-top: solid #ffffff;
    border-bottom: solid #0a1761;
}
.taglineThing {
    background-color: #fed7ff;
    text-align: center;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

div nav {
    background-color: #8a9ef5;
}

nav p {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

div.textBar {
    margin-top: 15px;
    text-align: center;
    background-color: bisque;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
/* END top bar configs */

/* START font configs */
.storeName {
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}
/* END font configs */

/* START footer configs */
footer {
    text-align: center;
    background-color: #0a1761;
    color: #ffffff;
    width: 100%;
    margin-top: 3%;
    padding: 2%;
    border-radius: 50% 50% 50% 50%;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
/* END footer configs */